@mixin header {
  @include block;
  height: row(1);
  
  h1 {
    width: $text-width;
    display: inline-block;
    
    @include center;
    
    font-family: 'Nothing You Could Do', cursive;
    font-size: $heading-level-1;
  }
}