@mixin intro {
  @include hide-title;
  background: #f9f9f9;
  
  article {
    padding: row(1) 0 0;
    
    h1 {
      @include center;
      position: relative;
      max-width: $text-width / 2;
      
      font-family: 'Lato', sans-serif;
      font-size: $heading-level-2;
    }
    
    nav {
      padding: $gutter 0;
      
      h3 {
        @include center(horizontal);
        position: relative;
        
        display: inline-block;
        border: 2px solid;
        padding: $gutter/2 $gutter;
        @include border-radius($gutter/2);
      }
    }
    
    figure {
      @include center(horizontal);
      position: relative;
      top: $gutter*2;
      
      img {
        max-width: 100%;
      }
    }
  }
}