<header>
  {% capture logo %}
    {% include molecules/logo.html %}
  {% endcapture %}
  {% include atoms/link.html url=site.url title=site.title text=logo %}
  
  {% capture avatar %}
    <img src="{{ site.url }}/assets/images/avatar.png" alt="{{ site.title }}">
  {% endcapture %}
  {% include atoms/link.html url=site.url title=site.title text=avatar %}
  
  {% capture h1 %}
    <h1>{{ site.title }}</h1>
  {% endcapture %}
  {% include atoms/link.html url=site.url title=site.title text=h1 %}
</header>