/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400|Nothing+You+Could+Do|Lato:300);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Center vertically or horizontally
- http://davidwalsh.name/css-vertical-center
*/
html body { font-size: 100%; line-height: 1.25; color: #0c0d0d; background: white; font-family: "Vollkorn", serif; }
@media only screen and (max-width: 47.999em) { html body { font-size: 87.5%; } }
@media only screen and (min-width: 90.001em) { html body { font-size: 125%; } }
html body #header { padding: 2.5em 0; }
html body #header h1 { width: 31.25em; display: inline-block; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); text-align: center; position: relative; font-family: 'Nothing You Could Do', cursive; font-size: 1.6154em; }
html body #footer { padding: 6.25em 0 1.25em; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); text-align: center; position: relative; }
html body #footer ul { padding-top: 1.25em; }
html body #footer ul li span { text-decoration: underline; line-height: 1.5; }
html body #intro { background: #f9f9f9; }
html body #intro > h3 { display: none; }
html body #intro article { padding: 6.25em 0 0; }
html body #intro article h1 { top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); text-align: center; position: relative; max-width: 15.625em; font-family: 'Lato', sans-serif; font-size: 2.6154em; }
html body #intro article nav { padding: 1.25em 0; }
html body #intro article nav h3 { left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); text-align: center; position: relative; display: inline-block; border: 2px solid; padding: 0.625em 1.25em; -webkit-border-radius: 0.625em; -moz-border-radius: 0.625em; -ms-border-radius: 0.625em; -o-border-radius: 0.625em; border-radius: 0.625em; }
html body #intro article figure { left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); text-align: center; position: relative; top: 2.5em; }
html body #intro article figure img { max-width: 100%; }

#gravity .h-vertical, #gravity .h-horizontal, #gravity .h-golden-rectangle { position: fixed; z-index: 1000; opacity: .3; }
#gravity .h-vertical { left: calc(50% - 1px); height: 100%; border-left: 1px solid red; }
#gravity .h-horizontal { top: calc(50% - 1px); width: 100%; border-bottom: 1px solid red; }
#gravity .h-golden-rectangle { border: 1px solid green; opacity: .8; }
#gravity .h-gravity-point { position: absolute; z-index: 1000; opacity: .3; display: none; }
#gravity .h-gravity-point:after { content: ''; display: block; width: 1.25em; height: 1.25em; background: red; position: relative; top: -0.625em; left: -0.625em; }
#gravity .h-gravity-point:last-of-type { display: block; }

#grid { position: absolute; top: 0; opacity: .1; z-index: -1; }

#grid .col { border-right: 1px solid; border-bottom: 1px solid; width: calc(5.20833em + 1.25em - 1px); height: calc(5em + 1.25em - 1px); float: left; }

#grid .gutter-right { float: right; border-left: 1px solid; width: calc(1.25em - 1px); height: 100%; }

#grid .gutter-bottom { float: left; border-bottom: 1px solid; height: calc(1.25em - 1px); width: 100%; }

#grid { z-index: 100; }
#grid .col { color: #fff; }

#grid, #gravity { display: none; }
