@mixin figure {
  @include block;
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    display: none;
  }
  
  &.mbp {
    @include mbp;
  }
  
  &.screenshot {
    @include screenshot;
  }
  
  &.side {
    @include side;
  }
  
  &.third {
    @include third;
  }
  
  &.half {
    @include half;
  }
  
  &.left {
    float: left;
  }
  
  &.right {
    float: right;
  }
}


@mixin third {
  width: 30%;
  
  &.left {
    margin-right: 5%;
  }
}

@mixin half {
  width: 47.5%;
    
  &.left {
    margin-right: 5%;
  }
}


@mixin mbp {
  @include center(horizontal);
  max-width: 48em;
}


@mixin screenshot {
  img {
    @include box-shadow(0px 1px 2px 0px rgba(50, 50, 50, 0.75));
  } 
}

@mixin side {
  max-width: 15em;
}
