@mixin header {
  $size: $gutter * 8;
  
  position: absolute;
  z-index: 1;
  top: row(1);
  left: col(1);
  height: row(2);
  max-width: col(3);
  
  @include align-header($size);
  
  #logo {
    @include logo($size);
  }

  // Toggle elements on hover
  &:hover {
    #logo {
      display: none;
    }
    
    img, h1 {
      display: block;
    }
  }
}


@mixin align-header($size) {
  // Align elements
  #logo, img, h1 {
    float: left;
    width: auto;
  }
  
  img {
    width: $size;
  }
  
  h1 {
    margin-left: $size;
  }
  
  // Overlap elements
  position: relative;
  #logo, img {
    position: absolute;
    left: 0;
  }
  
  h1, img {
    display: none;
  }
}